private.properties
*.classes
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/target/
/.idea

# blockchain data
src/main/java/com/mycompany/bcdassignment/ledger/*
src/main/java/com/mycompany/bcdassignment/master/*